.hero__inner{
    padding: 137px 0;
    background-image: url("../../images/about.bg.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    border-radius: 12px;
}

.hero__content{
    width: 493px;
    margin-left: 82px;
}

.hero__content--title{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.hero__content--text{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

// ----------- Responsive-part in hero -------------

@media only screen and (max-width: 992px){
    
    .hero__inner{
        padding: 118px 0;
        background-image: url("../../images/about-bg-tablet.jpg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
    }
    
    .hero__content{
        width: 398px;
        margin-left: 58px;
    }
    
    .hero__content--title{
        font-size: 32px;
        line-height: 40px;
    }
    
    .hero__content--text{
        font-size: 15px;
        line-height: 25px;
    }
    
}

@media only screen and (max-width: 560px){
    
    .hero__inner{
        padding: 111px 0 87px 0;
        background-image: url("../../images/about-bg-mobile.jpg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
    }
    
    .hero__content{
        width: 90%;
        margin-left: 0;
        margin: 0 auto;
        text-align: center;
    }
    
    .hero__content--title{
        font-size: 28px;
        line-height: 28px;
    }
    
    .hero__content--text{
        margin: 0;
    }
    
}
