.our__inner{
    padding: 168px 0 168px 0;
    margin: 0 85px;
}

.our__title{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin: 0 0 72px 0; 
}

.our__cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card{
    width: 100%;
}

.card__title{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.card__address{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.card__tel{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}


// ----------- Responsive-part in our section ------------


@media only screen and (max-width: 992px){
    
    .our__inner{
        padding: 144px 0 144px 0;
        margin: 0;
    }
    
    .card{
        width: 100%;
    }
    
    .card__title{
        font-size: 24px;
        line-height: 36px;
    }
    
}

@media only screen and (max-width: 610px){
    
    .our__inner{
        padding: 120px 0 120px 0;     
    }   
    
    .our__title{
        text-align: center;
    }
    
    .our__cards{
        flex-direction: column;
        text-align: center;
    }
    
    .card{
        width: 100%;
    }

    .card:not(:first-child){
        margin-top: 80px;
    }
    
    .card__title{
        font-size: 28px;
        line-height: 36px;
    }
    
}